<html>
  <head>
    <title>Kelly's Django Girls Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Kelly's Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 12.03.2016, 14:30</p>
      <h2><a href="">My first post</a></h2>
      <p>Sit on human. Lick butt. Howl on top of tall thing wake up wander around the house making large amounts of noise jump on top of your human's bed and fall asleep again white cat sleeps on a black shirt but Gate keepers of hell, for then cats take over the world so pooping rainbow while flying in a toasted bread costume in space. Mrow.</p>
    </div>

    <div>
      <p>published: 12.03.2016, 14:38</p>
      <h2><a href="">My second post</a></h2>
      <p>Unwrap toilet paper fall asleep on the washing machine i cry and cry and cry unless you pet me, and then maybe i cry just for fun chew on cable attack the dog then pretend like nothing happened.</p>
    </div>
  </body>
</html>
